{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="content-section col-md-8 mx-auto">
        <h2>{{ book.title }}</h2>
        <p>{% for author in book.authors.all %}<a href="{% url 'authors:detail-author' author.id %}">{{ author }}</a> {% endfor %}</p>
        <p>{{ book.isbn13 }}</p>
        {% if book.description %}
            <div>{{ book.description | safe }}</div>
        {% endif %}
    </div>
</div>
<a class="button button-secondary" href="{% url 'books:edit-book' book.id %}">Edit</a>
<h2>Reviews...</h2>
<br/>
{% if user.is_authenticated %}
    <a href="{% url 'books:add-review' book.id %}">Add new review</a>
{% else %}
    <a href="{% url 'sign-in' %}?next={% url 'books:add-review' book.id %}">Add new review</a>
{% endif %}
<br/>
{% if reviews %}
    {% for review in reviews %}
    <div class="review-section">
        <strong>{{ review.user.username }} {{ review.date_added }}</strong>
        <p>{{ review.body }}</p>
        {% if review.user == request.user %}
        <a href="{% url 'books:edit-review' book_id=book.id pk=review.id %}">Edit</a>
        {% endif %}
    </div>
    {% for comment in review.comments.all %}
        <div class="comment-section col-md-6 ">
            <strong>{{ comment.user.username }} {{ comment.date_added }}</strong>
            <p>{{ comment.body }}</p>
            {% if comment.user == request.user %}

            <a href="{% url 'books:edit-comment' book_id=book.id pk=comment.id %}">Edit</a>
            <a href="{% url 'books:delete-comment' book_id=book.id pk=comment.id %}">Delete</a>
            {% endif %}

        </div>
    {% endfor %}

    <form method="post" action="{% url 'books:add-comment' book_id=book.id review_id=review.id %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="">Enter your comment</label>
            <textarea class="form-control" rows="3" name="body"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% endfor %}
{% else %}
    <p>...No reviews yet...</p>
{% endif %}

{% endblock %}