{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="content-section col-md-8 mx-auto">
        <h2>{{ book.title }}</h2>
        <p>{% for author in book.authors.all %}<a href="{% url 'authors:detail-author' author.id %}">{{ author }}</a> {% endfor %}</p>
        <p>{{ book.isbn13 }}</p>
        {% if book.description %}
            <div>{{ book.description | safe }}</div>
        {% endif %}
    </div>
</div>
<a class="button button-secondary" href="{% url 'books:edit-book' book.id %}">Edit</a>
<h2>Reviews...</h2>
{% if book.reviews.all %}
{% for review in book.reviews.all %}
<strong>{{ review.user.username }} {{ review.date_added }}</strong>
<p>{{ review.body }}</p>
{% endfor %}
{% else %}
<p>...No reviews yet...</p>
{% endif %}

{% endblock %}